﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Postuj.cz | Vyzkoušej první českou sociální (ne)síť!</title>
    <meta name="description" content="Postuj.cz je místo pro sdílení zážitků, setkání s novými přáteli a pořádání událostí v místě, kde se právě nacházíte." />
	<link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon" />
	<meta property="og:title" content="Postuj.cz | Vyzkoušej první českou sociální (ne)síť!">
	<meta property="og:description" content="Postuj.cz je místo pro sdílení zážitků, setkání s novými přáteli a pořádání událostí v místě, kde se právě nacházíte.">
	<meta property="og:image" content="http://postuj.cz/Images/1200x630.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/cs_CZ/all.js#xfbml=1&appId=167784893366879";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    @Html.Partial("_NavBarPartial")

    <!-- Horní lišta KONEC -->
    <div class="container">
        <div class="row-fluid">
            @if (Request.IsAuthenticated)
            {
                <div class="span9" id="newPostWidget">
                    @Html.Partial("_NewPostPartial")
                </div>
                <div class="span3">
                    @Html.Partial("_UserCardPartial")
                </div>
            }
            else
            {
                @Html.Partial("_WelcomePartial")
            }
        </div>

        <div class="row-fluid">
            <div class="span9">
                <div class="posted">
                </div>
                <div class="modal hide fade" id="modalDialog">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 id="dialogHeader"></h3>
                        </div>
                        <div class="modal-body">
                            <p id="dialogContent"></p>
                        </div>
                        <div class="modal-footer" id="dialogButtons">
                            <a id="dialogStorno" class="btn btn-cancel" data-dismiss="modal">Storno</a>
                            <a id="dialogSubmit" class="btn btn-danger">Ano</a>
                        </div>
                    </div>
            </div>

            <div class="span3">
		       <a id="competitionLink" style="display: ;background: url(../Images/soutez.png) no-repeat; position: absolute; height: 459px; width: 190px; margin-left: 228px; margin-top: -18px;"></a>
                @Html.Partial("_VerticalMainMenuPartial")
            </div>
        </div>

        <footer class="copyright">
        	<p style="float: left;">2013 © Postuj.cz</p>
		<a href="mailto:sladek69@seznam.cz" style="float: right;"><span class="report-error"><i class="icon-bell icon-white"></i> Nahlásit problém</span></a>
        </footer>

    </div>
    @RenderBody()
    <!--/.fluid-container-->
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/postuj")
    @RenderSection("scripts", required: false)
    
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41664307-1', 'postuj.cz');
        ga('send', 'pageview');
        
        $(function () {
            $("#competitionLink").click(function() {
                $.dialog({
                    header: "<p><h4>Podmínky soutěže</h4></p>",
                    content: $.render["competition"](),
                    hideSubmit: true
                });
            });
        });
</script>
</body>
</html>
