﻿@using Postuj.Domain.Domain
@if (User.Identity.IsAuthenticated)
{
    <text>
        Hello @Html.Raw(((UserProfile)User.Identity).Username)
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Odhlásit se</a>
        }
    </text>
} else
{
    <section id="loginForm">
        @using (Html.BeginForm("ExternalLogin", "Account", new {ReturnUrl = ViewBag.ReturnUrl}))
        {
            @Html.AntiForgeryToken()
            <button type="submit" name="provider" value="facebook" title="Log in using your facebook account">facebook</button>
        }
    </section>
}
    
