﻿@using Postuj.Domain.Domain
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="http://www.postuj.cz"></a>
            <div class="nav-collapse">
                <form class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Vyhledej"></form>

                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "pull-right", style = "margin-bottom:0px" }))
                    {
                    @Html.AntiForgeryToken()

                    <ul class="nav">
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Odhlásit se</a></li>
                    </ul>
                    }
                }
                else
                {
                    <ul class="nav pull-right">
                        <li><a href="javascript:document.getElementById('loginForm').submit()">Přihlásit se</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
