﻿<div class="insert-post">
    <div id="categ">
        <ul>
            <li><a class="item1 category active">Příspěvek</a></li>
            <li><a class="item2 category">Událost</a></li>
            <li><a class="item3 category">Srazy</a></li>
        </ul>
     </div>

    <div class="pull-right">
   
        <span class="choose-loc">Vlož do místa</span>
        <div class="btn-group">:
            <button class="btn btn-mini btn-inverse btn-choose-loc" value="undefined">Celá ČR</button>
            <button class="btn btn-mini btn-inverse dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-mini">
            <li><a data-value="all">Celá ČR</a></li>
            <li class="divider"></li>
            <li><a data-value="praha">Praha</a></li>
            <li><a data-value="stredocesky">Středočeský kraj</a></li> 
            <li><a data-value="plzensky">Plzeňský kraj</a></li>
            <li><a data-value="kralovehradecky">Královéhradecký kraj</a></li>
            <li><a data-value="pardubicky">Pardubický kraj</a></li>
            <li><a data-value="jihocesky">Jihočeský kraj</a></li>
            <li><a data-value="vysocina">Kraj Vysočina</a></li>
            <li><a data-value="jihomoravsky">Jihomoravský kraj</a></li>
            <li><a data-value="zlinsky">Zlínský kraj</a></li>
            <li><a data-value="karlovarsky">Karlovarský kraj</a></li>
            <li><a data-value="ustecky">Ústecký kraj</a></li>
            <li><a data-value="moravskoslezsky">Moravskoslezský kraj</a></li>
            <li><a data-value="liberecky">Liberecký kraj</a></li>   
            <li><a data-value="olomoucky">Olomoucký kraj</a></li> 
            </ul>
        </div>
    </div>

    <textarea class="input-xlarge pull-left" id="newPostTextArea" placeholder="Co je nového?"></textarea>

    <button class="btn btn-small btn-post btn-danger" id="newPostBtn">Postuj</button>
    <span class="letters">Zbývá <span class="letters-no">400</span> znaků</span>

    <div id="fine-uploader" style=""></div>
   
    <div class="modal hide fade" id="uploadModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Nahrát obrázek</h3>
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data">
                <input id="uploadInput" type="file" name="file" />
            </form>
        </div>
        <div class="modal-footer">
            <a class="btn" id="submitUploadModal">Nahrát</a>
        </div>
        .
    </div>
</div>



@*<form enctype="multipart/form-data">
            <input id="fileinput1" type="file" name="file" />
        </form>
   *@ 