﻿@using Postuj.Domain.Domain

<div class="card" id="userCard">
    <div class="profil-img">
            <img class="img-rounded" src="@Html.Raw(((UserProfile)User.Identity).ProfileImage.Url)" alt="profil" />
        <input type="hidden" id="currentUser" value="@Html.Raw(((UserProfile)User.Identity).Id)"/>
        <input type="hidden" id="currentUserIsAdmin" value="@Html.Raw(((UserProfile)User.Identity).IsAdmin)"/>
        <input type="hidden" id="currentUserProfileImage" value="@Html.Raw(((UserProfile)User.Identity).ProfileImage.Url)"/>
    </div>

    <a class="profil" title="Můj profil" data-link="@(((UserProfile)User.Identity).ProfileLink.Url)">@Html.Raw(((UserProfile)User.Identity).Username)<br>
        <span class="new-post-categ">Zobrazit můj facebook</span></a>

    <div class="slabs">
        <a class="slab rounded-corners" id="show-notifications-command">
            <div class="slab">
                <span class="badge badge-important" id="notifications"></span><br>
                <p class="slab-title">Upozornění</p>
            </div>
        </a>
        <a class="slab rounded-corners" id="show-answers-command">
            <div class="slab">
                <span class="badge" id="answers"></span><br>
                <p class="slab-title">Mé reakce</p>
            </div>
        </a>
        <a class="slab rounded-corners" id="show-posts-command">
            <div class="slab">
                <span class="badge" id="posts"></span><br>
                <p class="slab-title">Mé příspěvky</p>
            </div>
        </a>
    </div>
</div>
