﻿<div class="main-menu">
    <div class="btn-group pull-right ods">
        <button class="btn btn-primary btn-mini btn-long btn-location" value="all">Celá ČR</button>
        <button class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right btn-mini">
            <li><a data-value="all">Celá ČR</a></li>
            <li class="divider"></li>
            <li><a data-value="praha">Praha</a></li>
            <li><a data-value="stredocesky">Středočeský kraj</a></li> 			
            <li><a data-value="plzensky">Plzeňský kraj</a></li>
            <li><a data-value="kralovehradecky">Královéhradecký kraj</a></li>
            <li><a data-value="pardubicky">Pardubický kraj</a></li>
            <li><a data-value="jihocesky">Jihočeský kraj</a></li>
            <li><a data-value="vysocina">Kraj Vysočina</a></li>
            <li><a data-value="jihomoravsky">Jihomoravský kraj</a></li>
	    <li><a data-value="zlinsky">Zlínský kraj</a></li>
            <li><a data-value="karlovarsky">Karlovarský kraj</a></li>
            <li><a data-value="ustecky">Ústecký kraj</a></li>
            <li><a data-value="moravskoslezsky">Moravskoslezský kraj</a></li>
            <li><a data-value="liberecky">Liberecký kraj</a></li>
            <li><a data-value="olomoucky">Olomoucký kraj</a></li> 
        </ul>
    </div>
    <div id="menu">
        <ul>
            <li><a class="home active"><span class="hrefs_right">Hlavní zeď</span></a></li>
            <li><a class="text"><span class="hrefs_right">Novinky</span></a></li>
            <li><a class="media"><span class="hrefs_right">Obrázky</span></a></li>
            <li><a class="video"><span class="hrefs_right">Videa</span></a></li>
            <li><a class="event"><span class="hrefs_right">Události / Akce</span></a></li>
            <li><a class="love"><span class="hrefs_right">Srazy</span></a></li>
        </ul>
    </div>
</div>

<div class="fb-like-box" style="margin: 10px 0px 0px -20px;" data-href="https://www.facebook.com/postuj.cz?fref=ts" data-width="240" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>