﻿<div class="span9 welcome-page">

    <div class="promo-top">
        
    </div>

    <div class="log-in">
        <div style="display:none">
            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, Provider = "facebook" }, FormMethod.Post, new { Id = "loginForm" }))
            {
                @Html.AntiForgeryToken()
            }
        </div>

        <a class="fb-login" rel="popover" onclick="$('#loginForm').submit()"
           data-original-title="Přihlaš se přes Facebook" data-content="Jednoduché, bez registrace. K přihlášení použij svůj účet na facebooku."></a>
<!-- 			<span class="one-click pull-right">Stačí jedno kliknutí...</span>         -->
    </div>
</div>
