﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Chyba.</h1>
    <h2 class="error">Nastala chyba, omlouváme se :-(.</h2>
</hgroup>
