/*  Ukazatel */
a {cursor: pointer;}

/* Navbar // Horn? li?ta */
.navbar-search {
  position: relative;
  float: left;
  margin-top: 8px;
  margin-bottom: 0;
}

.navbar-search .search-query {
  height: 16px;
  width: 190px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
}

/* Logotype, brand */
.navbar .brand {
  display: block;
  float: left;
  padding: 0px;
  margin: 0px 20px 0px 5px;
  margin-top: 6px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  width: 72px;
  height: 30px;
  background: url(../Images/logo.png) no-repeat;  
}

/* Insert Post // Dla?dice pro vlo?en? p??sp?vku */
.insert-post {
  width: 675px;
  height: 130px;
  max-height: 130px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 8px;
  background-color: #fdfdfd;
  border: 1px solid rgb(95, 183, 221);
  border: 1px solid rgba(95, 183, 221, 0.9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.posted {
  min-height: 400px;
  width: 675px;
  padding: 5px;
  margin-bottom: 0px;
  background-color: #fdfdfd;
  border: 1px solid rgb(95, 183, 221);
  border: 1px solid rgba(95, 183, 221, 0.9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Client Card // Vizitka */
.badge {
  background-color: #474747;
}

.badge-important {
  background-color: #d24842;
}

.card {
  float: right;
  width: 232px;
  min-height: 130px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 8px;
  background-color: #fdfdfd;
  border: 1px solid rgb(95, 183, 221);
  border: 1px solid rgba(95, 183, 221, 0.9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px;
}

.profil-img {
  clear: both;
  float: left;
  width: 40px;
  height: 40px;
}

.profil_img_textarea {
  float: left;
  width: 40px;
  height: 40px;
  margin: 7px 5px 0px 0px;
}

a.profil {
  float: left;
  display: block;
  font-weight: bold;
  color: #272727;
  margin: 0px 0px 10px 10px;
}

.vitej {
  float: left;
  display: block;
  font-weight: bold;
  color: #272727;
  margin: 0px 0px 0px 10px;
}

a.profil:hover {text-decoration: underline;}


/* Main Menu Right // Hlavn? menu */
.main-menu{
  float: right;
  width: 242px;
  min-height: 480px;
  padding: 5px 0px 5px 0px;
  background-color: #252525;
  color: #ffffff;
  border: 1px solid #272727;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#menu {
  margin: 15px 0px 15px 0px;
  float: right;
  width: 242px;
  height: px;
  /*background: url(../Images/menu_block_bg.png) repeat-y;  */
}

#menu ul {
  float: right;
  margin: 0px;
  list-style: none;
}

#menu li {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
}

.hrefs_right {
margin-left: 50px;
}

#menu a.home {
  background: url(../Images/btn_home.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px; 
  width: 242px;
}

#menu a.home:hover  {background-position: -242px 0; color: #ffffff;}

#menu a.text {
  background: url(../Images/btn_text.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px;
  width: 242px;
}
#menu a.text:hover {background-position: -242px 0; color: #ffffff;} 


#menu a.media {
  background: url(../Images/btn_media.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px; 
  width: 242px;
}

#menu a.media:hover {background-position: -242px 0; color: #ffffff;}

#menu a.video {
  background: url(../Images/btn_video.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px; 
  width: 242px;
}

#menu a.video:hover {background-position: -242px 0; color: #ffffff;}

#menu a.event {
  background: url(../Images/btn_event.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px; 
  width: 242px;
}

#menu a.event:hover {background-position: -242px 0; color: #ffffff;}

#menu a.love {
  background: url(../Images/btn_love.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px; 
  width: 242px;
}

#menu a.love:hover {background-position: -242px 0; color: #ffffff;}

#menu .home.active{background-position: -242px 0; color: #ffffff;}
#menu .text.active {background-position: -242px 0; color: #ffffff;}
#menu .media.active {background-position: -242px 0; color: #ffffff;}
#menu .video.active {background-position: -242px 0; color: #ffffff;}
#menu .event.active {background-position: -242px 0; color: #ffffff;}
#menu .love.active {background-position: -242px 0; color: #ffffff;}


/* Content // Obsah */
body {
  margin: 0;
  padding-top: 55px;
  padding-bottom: 40px;
  font-size: 12px;
  background: url(../Images/bg.png) repeat-x #9cdaf8;
  background-position: top center;
  background-attachment: fixed;
}

/* Hovers */
a {
  color: #272727;
  text-decoration: none;
}
a.blue {
  color: #1058b5;
  text-decoration: none;
}
a.blue-bold {
  color: #1058b5;
  font-weight: bold;
  text-decoration: none;
}

a.more {
  color: #1058b5;
}

a:hover {
  text-decoration: underline;
}

/* Row */
.row {
  width: 940px; 
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}

.navbar-fixed-bottom .container {
  width: 940px;
  border: 1ps solid black; 
}

.rounded-corners {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.input_post{
width: 640px;
height: 40px;
}

.span9 {
  width: 400px;
}

.span6 {
  clear: both;
  width: 600px;
  margin: 5px 0px 0px 40px;
}
.span5 {
  float: left;
  width: 180px;
  height: 11px;
}

.span4 {
  width: 300px;
  height: 10px
}
.span3 { 
  width: 230px; 
}

.span11 {
width: 115px;
}

.welcome-page {
margin-top: 0px;
height: 210px;
}

/* container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  *zoom: 1;
}

/* .opacity {
  margin: 0 auto;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba 
  background: rgba(255, 255, 255, .3);
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100%;
  } */

/* Textarea, pole */
label,
input,
button,
select,
textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;img-
  color: #555555;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
label input,
label textarea,
label select {
  display: block;
}

textarea.commentary {
/* Inputs */
  overflow: visible;
  float: right;
  margin: 4px 4px 0px 0px;
  width: 448px;
  max-width: 448px;
  height: 28px;
  min-height: 28px;
  font-size: 11px;
  resize: both;
  overflow: hidden;
  padding: 2px 4px 2px 4px;
}

.input-xlarge {
  float: left;
  margin-top: 0px;
  min-width: 520px;
  max-width: 520px;                      
  font-size: 12px;
  height: 68px;
  max-height: 68px;
  min-height: 68px;
}
.input-group-title {
  float: left;
  min-width: 400px;
  max-width: 400px;                      
  font-size: 12px;
  height: 14px;
  min-height: 14px;
}

.input-to-region {
float: right;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}
.up{
margin-top: -5px;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
input.span12, textarea.span12, .uneditable-input.span12 {
  width: 930px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 850px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 770px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 690px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 610px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 530px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 450px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 450px;
  height: 12px;
  font-size: 11px;
  margin: -5px 0px 0px 10px;
}
input.span4, textarea.span4, .uneditable-input.span4 {                                                 
  width: 124px;
  height: 18px;
}
input.span4m, textarea.span4c, .uneditable-input.span4c {                                                 
  width: 200px;
  height: 12px;
  margin: -5px 16px 0px 3px;
  font-size: 11px;
  font-style: italic;
}
input.span4c, textarea.span4c, .uneditable-input.span4c {                                                 
  width: 90px;
  height: 12px;
  margin: -5px 0px 0px 3px;
  font-size: 11px;
  font-style: italic;
}
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 210px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
  float: right;
  margin: 4px 6px 0px 0px;
  width: 440px;
  max-width: 440px;
  height: 36px;
  max-height: 36px;
  font-size: 11px;
  font-style: italic;
}
input.span1, textarea.span1, .uneditable-input.span1 {
  width: 50px;
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
  -moz-box-shadow: 0 0 6px #7aba7b;
  box-shadow: 0 0 6px #7aba7b;
}

/* Forms */
.form-actions {
  text-align: center;
  padding: 17px 20px 20px;
  margin-top: 14px;
  margin-bottom: 18px;
  background-color: #eeeeee;
  border-top: 1px solid #ddd;
  color: #5b5b5b; 
  *zoom: 1;
}

/* Search */
.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

.form-horizontal .help-block {
  margin-top: 9px;
  margin-bottom: 0;
}

.form-horizontal .form-actions {
  padding-left: 160px;
}

/* Icons */
.icon-like {
  margin-top: -1px;
  width: 14px;
  height: 12px;
  background: url("../Images/like.png") no-repeat;
}
.add-video {
font-weight: bold;
margin-top: -15px;
}
.icon-youtube {
  float: left;
  margin: -5px 0px 0px 0px;
  width: 53px;
  height: 22px;
  background: url("../Images/youtube.jpg") no-repeat;
}
.icon-unlike {
  margin-top: 2px;
  width: 14px;
  height: 12px;
  background: url("../Images/unlike.png") no-repeat;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 8px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

span.new-post-categ {
  float: left;
  font-size: 10px;
  font-weight: none;
  text-decoration: none;
  margin-top: -2px;
  font-weight: normal;
  color: #7f7f7f;
}
.right-title {  
  display: inline;
  float: right;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 4px;
  color: #fbfbfe;       
}
.right-group {
  clear: both;
  display: block;
  width: 238px;
  margin-left: 4px;
  margin-top: 4px;
  font-size: 11px;
  border-bottom: 1px solid #333333;  
}
.right-group-title {
  font-weight: bold;
  color: #3f96e5;      
}
.right-group-content {  
  color: #fbfbfe; 
  line-height: 10px;      
}
.notification {
  clear: both;
  float: left;
  display: inline-block;
  margin-top: 20px;
  font-size: 11px;
}

.notification a {
font-weight: bold;
font-size: 12px;
}

/* Slabs // Dla?dice */
.slabs{
clear: both; 
margin: 0 auto;
margin-top: 70px;
padding-top: 3px;
width: 232px;
height: 49px;
border-top: 1px solid #e8e8e8;
}
.slab {                       
float: left;
padding-top: 4px;
padding-bottom: 2px;
width: 75px;
height: 49px;
text-align: center;
}                      
p.slab-title {
margin-top: 5px;
font-size: 11px;
}
a.slab {
color: #606060;
vertical-align: middle;
font-weight: none;
text-decoration: none;
border: 1px solid #fdfdfd;
}

a.slab:hover {
display: block;
color: #a1a1a1;
}

/* Post View // Zobrazen? p??sp?vku */
.post-view {
float: left;
margin: 8px 0px 0px 2px;
padding-top: 6px;
width: 670px;
color: #272727;
border-top: 1px solid #e8e8e8;
}
.post-view-img {
float: left;
width: 48px;
height: 48px;
margin: 0px;
}
a.post-name {
  float: left;
  font-weight: bold;
  margin-top: 1px;
  color: #272727;
}
a.post-name:hover {text-decoration: underline;}

.post-view-text {
clear: both;
float: left;
overflow: ellipsis;
width: 500px;
max-width: 500px;
min-height: 0px;
font-size: 12px;
line-height: normal;
text-align: left;
}

.post-view-text a {
color: #1058b5;
}

.post-view-down {
clear: both;
float: left;
margin: 6px 0px 0px 0px;
width: 500px;
font-size: 11px;
color: #272727;
}
.post-view-down a {
font-weight: none;
color: #272727;
}
.post-view-down a:hover {
}
.post-view-down strong {
color: #151515;
font-weight: bold;
}
.post-time {
text-align: right;
width: 100px;
font-size: 11px;
color: #5b5b5b;
}
.post-reaction {
float: right;
width: 100px;
text-align: right;
}
.btn-reaction{
float: right;
width: 100px;
margin-top: 2px;
}
.post-view-content{
float: left;
margin-top: -4px;
margin-left: 5px;
width: 500px;
}
.comment-area {
float: left;
width: 500px;
margin: 0px;
font-size: 11px;
color: #5b5b5b;
}
.comment {
float: left;
width: 500px;
padding: 3px;
padding-left: 4px;
margin-top: 1px;
background: #f3f3f3;
border-top: 1px solid #e4e4e4;
font-size: 11px;
color: #5b5b5b;
}
.comment-text {
float: left;
overflow: hidden;
overflow: ellipsis;
margin: 2px 0px 0px 5px;
line-height: 14px;
color: #323232;
width: 450px;
}

.comment-text a {
color: #1058ba;}

.comment-text a:hover {
color: #1058ba;}

.comment-time {
display: inline-block;
color: #6f6f6f;
font-size: 10px;
margin: 4px 0px 0px 1px;
}

a.delete {
display: inline-block;
color: #9e9e9e;
font-style: italic;
margin: 3px 0px 0px 1px;
font-size: 10px;
}
a.delete:hover {
color: #1058b5;
text-decoration: none;
}
a.link:hover {
color: #5b5b5b;       
}

img.profil-mini {
  margin: 2px 0px 2px 0px;
  float: left;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

img.right-group-profil {
  margin: 4px 3px 3px 3px;
  float: left;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.comment-img {
  margin: 4px 0px 2px 0px;
  float: left;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.comment-profil {
display: block;
width: 32px;
height: 32px;
}

.comment-input {
float: left;
width: 500px;
height: px;
margin: 0 auto;
padding: 0px 3px 4px 4px;
margin-top: 1px;
background: #f3f3f3;
font-size: 11px;
color: #5b5b5b;
border-top: 1px solid #e4e4e4;
border-bottom: 1px solid #e8e8e8;
}
.reaction-info {
margin-top: 4px;
font-style: italic;
font-size: 11px;
color: #5b5b5b;
cursor: pointer;
}
.thumbnail {
width: 490px;
max-width: 490px;
}

.wall-image {
float: left;
margin: 2px 0px 0px 0px;
}

img.wall-image {
border: 1px solid #d2d2d2;
}

.lane {
  float: left;
  margin-right: 4px;
  width: 4px;
  height: 48px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.lane-green {background: #07d829;}
.lane-blue {background: #0d77da;}
.lane-red {background: #e00a0a;}
.lane-purple {background: #de13a7;}
.lane-orange {background: #e0740a;}

a.like {
display: block inline;
text-align: center;
padding: 1px;
width: 34px;
font-weight: none;
padding: 4px;
}

a.like:hover {
    background: #f0f0f0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}

a.check-text {
  float: left;
  width: 22px;
  height: 22px;
  display: block;
  background: url(../Images/check_text.png) no-repeat;
}

.letters {
  position: absolute;
  float: right;
  margin: 110px 0px 0px 106px;
  font-size: 10px;
  color: #898989;
}

.letters-no {
  font-size: 11px;
  color: #535353;
}

a.fb-login {
  float: left;
  margin: -24px 0px 0px 0px;
  width: 202px;
  height: 36px;
  background: url(../Images/fb_login.png);
}

.log-in {
  position: relative;
  float: left;
  margin: -38px  0px 0px 151px;
  width: 300px;
  height: 50px;
}

.choose-loc {
display: inline-block;
margin: 1px 4px 0px 0px;   
font-size: 10px;
font-weight: normal;
}

.main-wall-name {
float: left;
display: inline-block;
position: relative;
margin: 5px 0px -2px 3px;
font-weight: bold;
}

.latest-reaction {
float: left;
margin: 0px 0px 10px 2px;
width: 670px;
color: #272727;
}

.new-co {
float: right;
margin-right: 15px;
color: #e22239;
font-weight: bold;
}

.new-co2 {
float: right;
margin-right: 15px;
color: #999999;
font-weight: bold;
}

a.set-ico {
  position: absolute;
  margin-left: 75px;
  width: 15px;
  height: 15px;
  background: url(../Images/set-ico.png);
}

.appendix {
  float: left;
  margin: 4px 0px 0px 0px;
}

.upload {
  margin-top: -9px;
}

.small_font {
font-size: 10px;
color: #626262;
}

/* Okno pro vlo?en? p??sp?vku - 3 Hlavn? kategorie */
#categ {
	float: left;
	margin: 4px 0px 10px -25px;
}
#categ li {
	float: left;
	list-style-type: none;
	margin-right: 8px;
	display: inline;
 }
#categ li a {
    float: left;
	background-position: left center;
    background-repeat: no-repeat;
	padding: 0 0 0 48px;
    display: block;
	color: #adadad;
    height: 30px;
	font-weight: bold;
	font-size: 13px;
    padding-top: 8px;
}

#categ li a:hover {text-decoration: none;}

#categ li a:hover {color: #252525;}
#categ li a.active {color: #252525;}

#categ li a.item1 {background: url('../Images/btn-text.png') 0 0 no-repeat;}
#categ li a:hover.item1 {background-position: 0px -37px;}
#categ li a.item1.active {background-position: 0px -37px;}

#categ li a.item2 {background: url('../Images/btn-event.png') 0 0 no-repeat;}
#categ li a:hover.item2 {background-position: 0px -37px;}
#categ li a.item2.active {background-position: 0px -37px;}

#categ li a.item3 {background: url('../Images/btn-love.png') 0 0 no-repeat;}
#categ li a:hover.item3 {background-position: 0px -37px;}
#categ li a.item3.active {background-position: 0px -37px;}

/* Footer // Pati?ka */
footer.copyright {
clear: both;
float: left;
opacity: 0.8;
color: #ffffff;
font-size: 11px;
text-align: center;
margin-top: 15px;
}

.copyright p {
font-size: 12px;
}

.copyright a {
color: #ffffff;
}

/* Start Up Page - Promo // ?vodn? strana - Promo */

h1.login { 
display: block;
margin-top: 0px;
font-size: 23px;
color: #ffffff; 
float: left;
font-weight: none;
font-weight: normal;
}   

h2.text {
font-size: 12px;
color: #ffffff; 
float: right;
font-weight: normal;
}

.demo {color: #afdbfa; font-weight: bold; font-size: 15px;}     
                            

a:hover {
  background-position: 202px 0;  
}
/* Welcome Page - promo */
.promo-top {
  position: relative;
  float: left;
 margin-top: -10px;
  width: 938px;
  height: 225px; 
  background: url(../Images/promo.png);
}

.wt {
  float: left;
  width: 340px;
  margin-left: -280px;
  margin-top: -10px;
  color: #ffffff; 
}

h1.promo {
float: left;
margin: 5px 0px 0px 15px;
font-size: 40px;
font-weight: 600;
}

h2.promo {
float: left;
margin: 5px 0px 0px 0px;
clear: both;
font-size: 30px;
font-weight: 600;
}

h3.promo {
float: left;
clear: both;
margin: 10px 0px 0px 10px;
font-size: 18px;
font-weight: 400;
}

h4.promo {
float: left;
width: 280px;
clear: both;
margin: 50px 0px 0px 10px;
font-size: 13px;
font-weight: bold;
}

.one-click {
clear: both;
margin-top: 2px;
margin-top: 2px;
font-size: 11px;
color: #ffffff;
}

.img-polaroid {
width: 490px;
max-width: 490px;
  max-height: px;
  padding: 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.users-reactions {
  margin: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.meet-date {
  font-weight: bold;
}

form.form-horizontal {
position: absolute;
margin: 74px 0px 0px 378px;
}

.event-info {
clear: both;
float: left;
font-size: 11px;
display: inline-block;
margin: 2px 0px 2px 0px;
font-style: italic;
color: #9e9e9e;
}

.event-info strong {
color: #6b6b6b;
font-style: normal;
font-weight: bold;
}

/* V?pis notifikac? */
ul.notification-list {
  width: 670px;
  list-style: none;
  margin: 0px 0px 20px 0px;
  }
  
.notification-list-title {
font-weight: bold;
font-size: 12px;
}

ul.notification-list li {
margin-top: 4px;
padding-top: 4px;
padding-left: 10px;
border-bottom: 1px solid #eeeeee;
font-size: 11px;
}

a.remove-me  {
font-style: normal;
color: #252525;
}

a.remove-me:hover {
}

/* Nadpisy, form?ty */
h3 {
display: inline;
line-height: 13px;
font-size: 13px;
}

.btn-filter {
text-align: right;
width: 170px;
}

.btn-long {
text-align: right;
width: 212px;
}

.btn-choose-loc {
text-align: right;
width: 140px;
}

.ods {
margin-right: 5px;
}

.btn-post {
  clear: both;
  position: absolute;
  float: left;
  text-align: right;
  margin-top: 104px;
  margin-left: 222px;
  width: 140px;
  text-align: center;
}
.btn-upload-img {
  float: right;
  width: 118px;
  text-align: center;
}
 
a.close {
margin: 1px 0px 0px 4px;
}
  
.input-link {
	font-size: 11px;
	width: 460px;
	max-height: 14px;
	margin: -4px 0px 0px 0px;
}

input.localite {                                                 
  width: 180px;
  max-height: 14px;
  margin: -4px 0px 0px 4px;
  font-size: 11px;
  font-style: italic;
}

.response-people {
  clear: both;
  width: 470px;
  margin: 5px 0px 0px 60px;

}

ul.sorted-time {
float: right;
margin: 3px 5px 0px 0px;
list-style: none;
}

ul.sorted-time li {
font-size: 11px;
display: inline;
padding-left: 5px;
padding-right: 5px;
}

ul.sorted-time li a.active {
  text-decoration: underline;
}

.uploaded-img {
  position: absolute;
  float: right;
  text-align: right;
  margin: 80px 0px 0px 146px;
  width: 140px;
  font-weight: bold;                     
  font-size: 11px;
  word-wrap: break-word;
 }
 
/* Image Uploader */
.upload-success {
    display: none
}

.qq-upload-retry {
    display: none
}

.qq-upload-cancel {
    display: none
}

.qq-upload-list {
  text-align: right;
  list-style-type: none;
  word-wrap: break-word;
}

.qq-upload-file {
  float: left;
  text-align: left;
  width: 120px;
  margin: 2px 0px 0px 8px;
  font-weight: bold;                     
  font-size: 12px;
  min-height: 24px;
  max-height: 24px;
  overflow: hidden;
  word-wrap: break-word;
}

#fine-uploader {
display: inline;
}

/* Spinner */
#loader-wallpaper {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0; 
    left: 0; 
    opacity: 0.3; 
    position: absolute; 
    right: 0; 
    top: 0;
}

#loader-img {
    position: fixed;  
    top: 40%;  
    left: 40%;
}

.wall-image {
width: 490px;
max-width: 490px;
}

/* Video player thumb */

#videoLazyContent {
clear: both;
position: relative;
}


#videoLazyContent:hover {
cursor: pointer;
}

.videothmb { 
position: absolute;
top: 130px;
left: 220px;
width: 60px; 
height: 60px;
}

.report-error {
font-size: 12px;
margin-left: 480px;
}

/* Facebook Like Box */


.youtube-thumb {
    max-height:275px;
    min-width: 489px;
}

.youtube-thumb-box {
    
}
