﻿/* Navbar // Horní lišta */
.navbar-search {
  position: relative;
  float: left;
  margin-top: 8px;
  margin-bottom: 0;
}

.navbar-search .search-query {
  height: 16px;
  width: 190px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
}

/* Logotype, brand */
.navbar .brand {
}

/* Insert Post // Dlaždice pro vložení příspěvku */
.insert-post {
  width: 675px;
  min-height: 141px;
  max-height: 141px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 8px;
  background:  #f0f0f0;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.posted {
  min-height: 400px;
  width: 675px;
  padding: 5px;
  margin-bottom: 0px;
  background-color: #fdfdfd;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Client Card // Vizitka */
.badge {
  background-color: #474747;
}

.badge-important {
  background-color: #b94a48;
}

.card {
  float: right;
  width: 232px;
  min-height: 141px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 8px;
  background-color: #f0f0f0;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.profil-img {
  clear: both;
  float: left;
  width: 40px;
  height: 40px;
}

.profil_img_textarea {
  float: left;
  width: 40px;
  height: 40px;
  margin: 7px 5px 0px 0px;
}

a.profil {
  float: left;
  display: block;
  font-weight: bold;
  color: #272727;
  margin: 0px 0px 10px 10px;
}

.vitej {
  float: left;
  display: block;
  font-weight: bold;
  color: #272727;
  margin: 0px 0px 0px 10px;
}

a.profil:hover {text-decoration: underline; color: #128abb;}


/* Main Menu Right // Hlavní menu */
.main-menu{
  float: right;
  width: 242px;
  min-height: 500px;
  padding: 5px 0px 5px 0px;
  background-color: #252525;
  color: #ffffff;
  border: 1px solid #272727;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#menu {
  margin: 15px 0px 15px 0px;
  float: right;
  width: 242px;
  height: px;
  background: url(../img/menu_block_bg.png) repeat-y;  
}

#menu ul {
  float: right;
  margin: 0px;
  list-style: none;
}

#menu li {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
}

.hrefs_right {
margin-left: 50px;
}

#menu a.home {
  background: url(../img/btn_home.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px; 
  width: 242px;
}

#menu a.home:hover  {background-position: -242px 0; color: #ffffff;}

#menu a.text {
  background: url(../img/btn_text.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px;
  width: 242px;
}
#menu a.text:hover {background-position: -242px 0; color: #ffffff;} 


#menu a.media {
  background: url(../img/btn_media.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px; 
  width: 242px;
}

#menu a.media:hover {background-position: -242px 0; color: #ffffff;}

#menu a.video {
  background: url(../img/btn_video.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px; 
  width: 242px;
}

#menu a.video:hover {background-position: -242px 0; color: #ffffff;}

#menu a.event {
  background: url(../img/btn_event.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px; 
  width: 242px;
}

#menu a.event:hover {background-position: -242px 0; color: #ffffff;}

#menu a.love {
  background: url(../img/btn_love.png);
  display: block;
  color: #b5b5b5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px; 
  text-align: left; 
  line-height: 30px;
  padding-top: 2px; 
  width: 242px;
}

#menu a.love:hover {background-position: -242px 0; color: #ffffff;}

#menu .home.active{background-position: -242px 0; color: #ffffff;}
#menu .text.active {background-position: -242px 0; color: #ffffff;}
#menu .media.active {background-position: -242px 0; color: #ffffff;}
#menu .video.active {background-position: -242px 0; color: #ffffff;}
#menu .group.active {background-position: -242px 0; color: #ffffff;}
#menu .love.active {background-position: -242px 0; color: #ffffff;}


/* Content // Obsah */
body {
  margin: 0;
  padding-top: 55px;
  padding-bottom: 40px;
  font-size: 12px;
  background: url(../img/bg_green2.png) repeat;
}

/* Hovers */
a {
  color: #4c4c4c;
  text-decoration: none;
}
a.blue {
  color: #1096ce;
  text-decoration: none;
}
a.blue-bold {
  color: #0284c1;
  font-weight: bold;
  text-decoration: none;
}

a.more {
  color: #0284c1;
}

a:hover {
  text-decoration: underline;
}

/* Row */
.row {
  width: 940px; 
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}

.navbar-fixed-bottom .container {
  width: 940px;
  border: 1ps solid black; 
}

.rounded-corners {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.input_post{
width: 640px;
height: 40px;
}

.span9 {
  width: 400px;
}

.span6 {
  width: 600px;
  margin: 10px 0px 0px 60px;
}
.span5 {
  float: left;
  width: 180px;
  height: 11px;
}

.span4 {
  width: 300px;
  height: 10px
}
.span3 { 
  width: 230px; 
}

.span11 {
width: 115px;
}

.welcome-page {
margin-top: 0px;
}

/* container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  *zoom: 1;
}

/* Textarea, pole */
label,
input,
button,
select,
textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
label input,
label textarea,
label select {
  display: block;
}

/* Inputs */
textarea.commentary {
  float: right;
  margin: 4px 6px 0px 0px;
  width: 440px;
  max-width: 440px;
  height: 36px;
  max-height: 36px;
  font-size: 11px;
  font-style: italic;
}

.input-xlarge {
  float: left;
  min-width: 520px;
  max-width: 520px;                      
  font-size: 12px;
  height: 53px;
  min-height: 53px;
}
.input-group-title {
  float: left;
  min-width: 400px;
  max-width: 400px;                      
  font-size: 12px;
  height: 14px;
  min-height: 14px;
}

.input-to-region {
float: right;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}
.up{
margin-top: -5px;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
input.span12, textarea.span12, .uneditable-input.span12 {
  width: 930px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 850px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 770px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 690px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 610px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 530px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 450px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 450px;
  height: 12px;
  font-size: 11px;
  margin: -5px 0px 0px 10px;
}
input.span4, textarea.span4, .uneditable-input.span4 {                                                 
  width: 124px;
  height: 18px;
}
input.span4m, textarea.span4c, .uneditable-input.span4c {                                                 
  width: 200px;
  height: 12px;
  margin: -5px 16px 0px 3px;
  font-size: 11px;
  font-style: italic;
}
input.span4c, textarea.span4c, .uneditable-input.span4c {                                                 
  width: 90px;
  height: 12px;
  margin: -5px 0px 0px 3px;
  font-size: 11px;
  font-style: italic;
}
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 210px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
  float: right;
  margin: 4px 6px 0px 0px;
  width: 440px;
  max-width: 440px;
  height: 36px;
  max-height: 36px;
  font-size: 11px;
  font-style: italic;
}
input.span1, textarea.span1, .uneditable-input.span1 {
  width: 50px;
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
  -moz-box-shadow: 0 0 6px #7aba7b;
  box-shadow: 0 0 6px #7aba7b;
}

/* Forms */
.form-actions {
  text-align: center;
  padding: 17px 20px 20px;
  margin-top: 14px;
  margin-bottom: 18px;
  background-color: #eeeeee;
  border-top: 1px solid #ddd;
  color: #848484; 
  *zoom: 1;
}

/* Search */
.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

.form-horizontal .help-block {
  margin-top: 9px;
  margin-bottom: 0;
}

.form-horizontal .form-actions {
  padding-left: 160px;
}

/* Icons */
.icon-like {
  margin-top: -1px;
  width: 14px;
  height: 12px;
  background: url("../img/like.png") no-repeat;
}
.add-video {
font-weight: bold;
margin-top: -15px;
}
.icon-youtube {
  float: left;
  margin: -5px 0px 0px 0px;
  width: 53px;
  height: 22px;
  background: url("../img/youtube.jpg") no-repeat;
}
.icon-unlike {
  margin-top: 2px;
  width: 14px;
  height: 12px;
  background: url("../img/unlike.png") no-repeat;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 8px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

span.new-post-categ {
  float: left;
  font-size: 10px;
  font-weight: none;
  text-decoration: none;
  margin-top: -2px;
  color: #7f7f7f;
}
.right-title {  
  display: inline;
  float: right;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 4px;
  color: #fbfbfe;       
}
.right-group {
  clear: both;
  display: block;
  width: 238px;
  margin-left: 4px;
  margin-top: 4px;
  font-size: 11px;
  border-bottom: 1px solid #333333;  
}
.right-group-title {
  font-weight: bold;
  color: #3f96e5;      
}
.right-group-content {  
  color: #fbfbfe; 
  line-height: 10px;      
}
.notification {
  clear: both;
  float: left;
  display: inline-block;
  margin-top: 20px;
  font-size: 11px;
}

.notification a {
font-weight: bold;
font-size: 12px;
}

/* Slabs // Dlaždice */
.slabs{
clear: both; 
margin: 0 auto;
margin-top: 90px;
padding-top: 3px;
width: 232px;
height: 44px;
border-top: 1px solid #e4e4e4;
}
.slab {                       
float: left;
padding-top: 2px;
width: 75px;
height: 44px;
text-align: center;
}                      
p.slab-title {
margin-top: 5px;
font-size: 11px;
}
a.slab {
color: #606060;
vertical-align: middle;
font-weight: none;
text-decoration: none;
border: 1px solid #f0f0f0;
}

a.slab:hover {
display: block;
background: #dfdfdf;
color: #272727;
border: 1px solid #cccccc;
}

/* Post View // Zobrazení příspěvku */
.post-view {
float: left;
margin: 12px 0px 0px 2px;
padding-top: 4px;
width: 670px;
color: #272727;
border-top: 1px solid #e8e8e8;
}
.post-view-img {
float: left;
width: 48px;
height: 48px;
margin: 0px;
}
a.post-name {
  float: left;
  font-weight: bold;
  margin-top: 1px;
  color: #272727;
}
a.post-name:hover {text-decoration: underline; color: #128abb;}

.post-view-text {
float: right;
width: 500px;
min-height: 28px;
font-size: 12px;
line-height: 17px;
}

.post-view-text a {
color: #128abb;
}

.post-view-down {
float: left;
margin: 3px 0px 0px 63px;
width: 500px;
font-size: 11px;
color: #4c4c4c;
}
.post-view-down a {
font-weight: none;
}
.post-view-down a:hover {
}
.post-view-down strong {
color: #4c4c4c;
font-weight: bold;
}
.post-time {
float: right;
text-align: right;
width: 100px;
font-size: 11px;
color: #848484;
}
.btn-reaction{
float: right;
width: 100px;
margin-top: 4px;
}
.post-view-content{
float: left;
margin-top: -4px;
margin-left: 6px;
width: 500px;
}
.comment-area {
float: left;
width: 500px;
margin: 1px 0px 0px 58px;
font-size: 11px;
color: #848484;
}
.comment {
float: left;
width: 500px;
padding: 1px;
padding-left: 5px;
margin-top: 1px;
background: #f3f3f3;
border-bottom: 1px solid #e4e4e4;
font-size: 11px;
color: #848484;
}
.comment-text {
float: left;
margin: 3px 0px 0px 6px;
line-height: 15px;
color: #272727;
width: 450px;
}
.comment-time {
display: inline-block;
color: #6f6f6f;
margin: 3px 0px 0px 1px;
}
a.delete {
display: inline-block;
color: #0284c1;
margin: 3px 0px 0px 1px;
}
a.link:hover {
color: #848484;       
}
img.profil-mini {
  margin: 2px 0px 2px 2px;
  float: left;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

img.right-group-profil {
  margin: 4px 3px 3px 3px;
  float: left;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.comment-img {
  margin: 4px 0px 2px 2px;
  float: left;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.comment-profil {
display: block;
width: 32px;
height: 32px;
}

.comment-input {
float: left;
width: 500px;
height: px;
margin: 0 auto;
padding: 0px 1px 4px 4px;
margin-top: 1px;
background: #f3f3f3;
font-size: 11px;
color: #848484;
border-bottom: 1px solid #e8e8e8;
}
.reaction-info {
margin-top: 4px;
font-style: italic;
font-size: 11px;
color: #848484;
}
.wall-image {
float: left;
margin: 1px 0px 0px 0px;
padding: 3px;

}
img.wall-image {
max-height: 140px;
border: 1px solid #d2d2d2;
}

.lane {
  float: left;
  margin-right: 4px;
  width: 4px;
  height: 48px;
}

.lane-green {background: #21bd25;}
.lane-blue {background: #0d6ac5;}
.lane-red {background: #c81f1f;}
.lane-purple {background: #db1cac;}
.lane-orange {background: #cf650f;}

a.like {
display: block inline;
text-align: center;
padding: 1px;
width: 34px;
font-weight: none;
}

a.like:hover {
background: #f2f2f2;
text-decoration: underline;
}

a.check-text {
  float: left;
  width: 22px;
  height: 22px;
  display: block;
  background: url(../img/check_text.png) no-repeat;
}

.letters {
  float: left;
  margin: -30px 0px 0px 435px;
  font-size: 10px;
  color: #898989;
}

.letters-no {
  font-size: 11px;
  color: #535353;
}

.log-in {
  position: relative;
  margin: 0px -240px 0px 0px;
  float: right;
  width: 300px;
  height: 50px;
}

.choose-loc {
display: inline-block;
margin: 1px 4px 0px 0px;   
font-weight: bold;
}

.main-wall-name {
float: left;
display: inline-block;
position: relative;
margin: 5px 0px -2px 3px;
font-weight: bold;
}

.latest-reaction {
float: left;
margin: 0px 0px 10px 2px;
width: 670px;
color: #272727;
}

.new-co {
float: right;
margin-right: 15px;
color: #e22239;
font-weight: bold;
}

.new-co2 {
float: right;
margin-right: 15px;
color: #999999;
font-weight: bold;
}

a.set-ico {
  position: absolute;
  margin-left: 75px;
  width: 15px;
  height: 15px;
  background: url(../img/set-ico.png);
}

.appendix {
  float: left;
  margin: 4px 0px 0px 0px;
}

.upload {
  margin-top: -9px;
}

.small_font {
font-size: 10px;
color: #626262;
}

/* Kategorie */
ul.categories {
  width: 400px;
  margin: 0px 0px 10px 40px;
}

ul.categories li {
float: left;
width: 100px;
}

li.text {list-style-image: url(../img/btn-text.png);}
li.text:hover {list-style-image: url(../img/btn-text-hover.png);}
li.text.active {list-style-image: url(../img/btn-text-hover.png);}
li.event {list-style-image: url(../img/btn-event.png);}
li.event:hover {list-style-image: url(../img/btn-event-hover.png);}
li.event.active {list-style-image: url(../img/btn-event-hover.png);}
li.love {list-style-image: url(../img/btn-love.png);}
li.love:hover {list-style-image: url(../img/btn-love-hover.png);}
li.love.active {list-style-image: url(../img/btn-love-hover.png);}

ul.categorie li:hover {
  color: #464646;
}

a.category {
  display: block;
  color: #5f5f5f;
  text-decoration: none;
  margin: 0px 1px 0px 1px;
  vertical-align: -10px;
  }

.cate-name {
font-size: 10px;
}

/* Footer // Patička */
footer.copyright {
float: left;
opacity: 0.7;
color: #ffffff;
font-size: 11px;
text-align: center;
margin-top: 15px;
}

.copyright p {
font-size: 12px;
}

/* Start Up Page - Promo // Úvodní strana - Promo */

h1.login { 
display: block;
margin-top: 0px;
font-size: 23px;
color: #ffffff; 
float: left;
font-weight: none;
font-weight: normal;
}   

h2.text {
font-size: 12px;
color: #ffffff; 
float: right;
font-weight: normal;
}

.demo {color: #afdbfa; font-weight: bold; font-size: 15px;}     
                            
a.fb-login {
  float: right;
  margin: -10px 0px 0px 0px;
  width: 202px;
  height: 36px;
  background: url(../img/fb_login.png);
}

a:hover {
  background-position: 202px 0;  
}

.promo-top {
  position: relative;
  float: left;
  width: 594px;
  height: 169px; 
  margin-left: 340px;
  background: url(../img/promo.png);
}

.welcome-text {
  float: left;
  width: 300px;
  margin-left: -340px;
}

h1.welcome {
margin: 15px 0px 0px 0px;
font-size: 30px;
color: #ffffff; 
float: left;
font-weight: bold;
}

.welcome-small {
display: inline-block;
font-size: 15px;
color: #ffffff; 
margin-top: 15px;
font-weight: bold;
} 

.welcome-big {
display: inline-block;
font-size: 15px;
color: #ffffff; 
margin-top: 15px;
font-weight: bold;
} 

.one-click {
clear: both;
font-size: 11px;
color: #ffffff;
}

.img-polaroid {
  max-width: 320px;
  max-height: 640px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.users-reactions {
  margin: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.meet-date {
  font-weight: bold;
}

form.form-horizontal {
position: absolute;
margin: 74px 0px 0px 378px;
}

.event-info {
clear: both;
float: left;
font-size: 11px;
display: inline-block;
margin: 2px 0px 2px 0px;
font-style: italic;
color: #9e9e9e;
}

.event-info strong {
color: #6b6b6b;
font-style: normal;
font-weight: bold;
}

/* Výpis notifikací */
ul.notification-list {
  width: 670px;
  list-style: none;
  margin: 0px 0px 20px 0px;
  }
  
.notification-list-title {
font-weight: bold;
font-size: 12px;
}

ul.notification-list li {
margin-top: 4px;
padding-top: 4px;
padding-left: 10px;
border-bottom: 1px solid #eeeeee;
font-size: 11px;
}

a.remove-me  {
font-style: normal;
color: #252525;
}

a.remove-me:hover {
}

/* Nadpisy, formáty */
h3 {
display: inline;
line-height: 13px;
font-size: 13px;
}

.btn-filter {
text-align: right;
width: 120px;
}

.btn-long {
text-align: right;
width: 212px;
}

.btn-choose-loc {
text-align: right;
width: 120px;
}

.ods {
margin-right: 5px;
}

.btn-post {
  float: right;
  width: 134px;
  text-align: center;
  margin-top: 0px;
}
.btn-upload-img {
  float: right;
  width: 134px;
  text-align: center;
}
.uploaded-img {
  float: right;
  text-align: right;
  width: 134px;
  font-weight: bold;                     
  font-size: 11px;
  }
  
.input-link {
	font-size: 11px;
	width: 460px;
	max-height: 14px;
	margin: -4px 0px 0px 0px;
}

input.localite {                                                 
  width: 180px;
  max-height: 14px;
  margin: -4px 0px 0px 4px;
  font-size: 11px;
  font-style: italic;
}

.span9 {
max-height: 160px;
}








