﻿@*<section id="loginForm">
 @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
        <button type="submit" name="provider" value="facebook" title="Log in using your facebook account">facebook</button>
    }
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
zrzt