﻿@model Postuj.Web.Controllers.OgModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <title>Postuj.cz | Vyzkoušej první českou sociální (ne)síť!</title>
        <meta name="description" content="Postuj.cz je místo pro sdílení zážitků, setkání s novými přáteli a pořádání událostí v místě, kde se právě nacházíte." />
        <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon" />
        <meta property="fb:app_id" content="323757741025195">
        <meta property="og:title" @Html.Raw("content=\"" + Model.Title + "\"")>
        <meta property="og:description"  @Html.Raw("content=\"" + Model.Description + "\"")>
        <meta property="og:image" content="@Model.Image">
        <meta property="og:image:type" content="@Model.ImageContentType">
        <meta property="og:image:width" content="120">
        <meta property="og:image:height" content="120">
        <meta property="og:site_name" content="Postuj.cz">
        <meta property="og:url" content="@Model.Url">
    </head>
    <body>
        <div>
            <h1>Postuj vole</h1>

            <div>@Html.Raw(Model.Title)</div>
            <div>@Html.Raw(Model.Description)</div>
            <div>@Html.Raw(Model.Image)</div>
            <div>@Html.Raw(Model.ImageContentType)</div>
            <div>@Html.Raw(Model.VideoLink)</div>
        </div>
    </body>
</html>