﻿<div>    
<h4 style="text-align: center;">Zapoj se do soutěže s novou sociální sítí <b>Postuj.cz</b>!</h4>
<p>Vyhrává autor příspěvku, který získá pod svým příspěvkem nejvíce kladných Liků až do 15.5.2014 do půlnoci. Poté budou všechny příspěvky propočítány a autor toho nejoblíbenějšího od nás dostane nový Samsung Galaxy S4 Mini. Výherce kontaktujeme na jeho facebookový profil a domluvíme se na předání výhry.</p>

<center>
<h4>Jak soutěžit?</h4>
<p>1. Přihlaš se přes svýj FB profil na Postuj.cz a přidej originální příspěvek.</p>
<p>2. Pošli odkaz na svůj příspěvek přátelům a nasbírej nejvíce Like!<br>(Dole pod příspěvkem "Link")</p>
<p>3. Svoji úspěšnost kontroluj vyfiltrováním nejoblíbenějších příspěvků na Zdi.</p>
<p>4. Hodně štěstí!</p>
<br><img src="./Images/s4mini.png"><br></center>
<p><b>Podmínky soutěže:</b><br>
- Soutěže se může zúčastnit každý návštěvník přihlášený přes svůj facebookový profil.<br>
- Každý návštěvník může přidat neomezený počet příspěvků do libovolné kategorie.<br>
- Vyhrává příspěvek, který získá nejvíce kladných Like, minimálně však 30 Liků.<br>
- Organizátor si vyhrazuje právo na změnu podmínek v průběhu soutěže.<br>
</p><br>
<p>Hodně štěstí!<br>
Team <b>Postuj.cz</b></p>
</div>