﻿<div class="well well-small pull-left response-people">
    <strong>Lidé, kteří mají zájem</strong><br>
    {{for #data.answers}}
    <a title="{{:Username}}" href="{{:ProfileLink}}" target="_blank" ><img class="users-reactions" alt="{{:Username}}" src="{{:ProfileImageLink}}"></a>
     {{/for}}
 </div>

