﻿<div class="comment" dataId="{{:Id}}">
    <img class="profil-mini" src="{{:ProfileImageLink}}">
    <div class="comment-text">
        <a class="blue-bold" href="{{:ProfileLink}}" target="_blank" title="{{:Username}}">{{:Username}}</a>
        {{:Content}}
        <br>   
        <span class="comment-time">{{:CreationDateString}}</span>     
        {{if ~isOwnedByLogedUser(#data) }}
        <a class="delete pull-right">odstranit</a>  
        {{else}}{{/if}}
   
        
    </div>
</div>
