﻿<li>
    {{if Type == "VOTE"}}
        {{if IsLike}}
            <i class="icon-thumbs-up"></i> 
            <a class="blue-bold" href="{{:ProfileLink}}" target="_blank" title="Ukázat na facebooku">{{:Username}}</a>
            se líbí Váš
        {{else}}
            <i class="icon-thumbs-down"></i> 
            <a class="blue-bold" href="{{:ProfileLink}}" title="Ukázat na facebooku">{{:Username}}</a>
            se nelíbí Váš
        {{/if}}
    {{else}}
    {{if Type == "COMMENT"}}
        <i class="icon-comment"></i> 
        <a class="blue-bold" href="{{:ProfileLink}}" title="Ukázat na facebooku">{{:Username}}</a>
            okomentoval(a) Váš
    {{else}}
    {{if Type == "ANSWER_MEETING" || Type == "ANSWER_EVENT"}}
        {{if Type == "ANSWER_EVENT"}}
           <i class="icon-calendar"></i>
        {{else}}
          <i class="icon-heart"></i> 
        {{/if}}
        <a class="blue-bold" href="{{:ProfileLink}}" title="Ukázat na facebooku">{{:Username}}</a>
            má zájem o Váš
    {{else}}
    {{/if}}
    {{/if}}
    {{/if}}
    <a class="blue-bold post-link" title="Zobrazit příspěvek" data-id="{{:PostId}}">příspěvek</a>: {{:Content}}.
</li>
		