﻿<div class="notifications-area">

    <ul class="notification-list">
        <span class="notification-list-title">Upozornění od Vašeho posledního přihlášení</span>
        <div id="new-notifications">
        </div>
    </ul>

    <ul class="notification-list">
        <span class="notification-list-title">Starší upozornění</span>
        <div id="old-notifications">
        </div>
    </ul>
    
    <br style="clear: both;">
    <div class="form-actions"><a id="loadAnotherPage">Zobrazit starší upozornění</a></div>

</div>
