﻿<div class="post-view" data-id="{{:Id}}">
    <div class="lane {{:~getCssClassForLane(#data)}}"></div>
    <div class="post-view-img">
        <img src="{{:ProfileImageLink}}" class="img-rounded" alt="profil">
    </div>
    <div class="post-view-content">
        <a class="post-name" href="{{:ProfileLink}}" target="_blank" title="{{:Username}}">{{:Username}}</a>
        <span class="post-view-text">
            {{:Content}}
            {{if VideoLink != null }}
            <br/>
            {{if VideoThumb != null}}
<div id="videoLazyWrap">            
<div id="videoLazyContent" class="wall-image thumbnail">
                {{:VideoThumb}}
                <img src="Images/play.png" class="videothmb"/>
            </div></div>
            {{else}}
                {{:VideoLink}}
            {{/if}}
            {{else}}{{/if}}
        </span>
        {{if AttachedImageThumbLink != null }}
        <a class="wall-image thumbnail">
            <img src="{{:AttachedImageThumbLink}}" alt="Obrázek" id="attachedImage">
        </a>
        {{else}}{{/if}}
        <div class="post-view-down">
            <a title="Přidat komentář" id="addComment">Přidat komentář</a> ·
            <a id="showComments">Zobrazit komentáře ({{:Comments}})</a>
            <a id="hideComments" style="display: none">Skrýt komentáře ({{:Comments}})</a> ·  
            <a id="like" class="like" title="Líbí"><i class="icon-thumbs-up"></i> Líbí {{:Likes}}</a>· 
            <a id="dislike" class="like" title="Nelíbí"><i class="icon-thumbs-down"></i> Nelíbí {{:Dislikes}}</a> · 
            <strong>{{:LocationString}}</strong> · 
            <a id="getLink"><i class="icon-cog"></i> Sdílej</a>
        </div>
        <div class="comment-area">
            <div id="commentList"></div>
            <div class="comment-input" style="display: none">
                <span class="pull-left">
                    <img class="comment-img" src="{{:~user().profileImage}}" alt="profil"></span>
                <textarea id="appendedPrependedInput" class="commentary pull-right comment-submit" placeholder="Napiš komentář a stiskni Enter"></textarea>
            </div>
       </div>
    </div>  
    <div class="answers-area"></div>
    
    <div class="post-reaction">
        {{if ~isOwnedByLogedUser(#data) }}
        <a class="close" title="Odstranit můj příspěvek" id="removePost">×</a>
        {{else}}{{/if}}
        <span class="post-time">{{:CreationDateString}}</span>
        {{if CategoryCode == "events" || CategoryCode == "meetings"}}
        <div class="btn-reaction">
            {{if CategoryCode == "meetings"}}
            <button class="btn btn-mini btn-danger btn-reaction {{if HasMyAnswer}}disabled{{else}}{{/if}}" title="Reagovat" id="answer-command">
                <i class="icon-heart icon-white"></i>Ano, Chci
            </button>
            {{else}}
            <button class="btn btn-mini btn-primary btn-reaction {{if HasMyAnswer}}disabled{{else}}{{/if}}" title="Reagovat" id="answer-command">
                <i class="icon-ok icon-white"></i>Přidej se
            </button>
            {{/if}}
            <span class="reaction-info pull-right">
                <div  id="showAnswers">
                {{if CategoryCode == "events"}}
                Přidalo se 
                {{else}}
                Ano řeklo
                {{/if}}
                {{:Answers}} lidí.
                </div>
                {{if HasMyAnswer == true}}
                <br/>
                <a class="remove-me">
                    <i class="icon-remove"></i> Zruš mou účast.
                </a>
                {{else}}{{/if}}
            </span>
        </div>
        {{else}}{{/if}}
    </div>
</div>
