﻿<span class="main-wall-name">
    <h3>Hlavní zeď</h3>
</span>

<div class="btn-group pull-right">
    <button class="btn btn-mini btn-success btn-filter">Zobrazit příspěvky</button>
    <button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-mini green">
        <li><a data-value="date">Nejnovější</a></li>
        <li><a data-value="likes">Nejoblíbenější (dnes)</a></li>
        <li><a data-value="comments">Nejdiskutovanější (dnes)</a></li>
        <li><a data-value="likes-all">Nejoblíbenější (celkově - soutěž)</a></li>
        <li><a data-value="comments-all">Nejdiskutovanější (celkově)</a></li>
    </ul>
</div>

<div id="postList">
    
</div>

<div class="loader" id="loader-wallpaper" style="display: none"/>
<img class="loader" id="loader-img" src="Images/spinner-green2.gif" style="display:none" />

<br style="clear: both;">
<div class="form-actions"><a id="loadAnotherPage">Zobrazit starší příspěvky</a></div>

